/* Estilos por defecto (oscuro) */
body {
  background-color: #D9E9DC; /* Fondo claro */
  color: 212226; /* Texto oscuro */
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}

/* Estilo claro */
body.dark-theme {
  background-color: #2A3B42; 
  color: #D9E9DC; 

}
