
body {
  background-color: #D9E9DC;
  color: 212226; 
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo claro */
body.dark-theme {
  background-color: #2A3B42; 
  color: #D9E9DC; 

}