.buscador {
  background: #8ac195;
  padding: 18px 0;
  max-width: 95vw;
  margin: 0 auto;
}

.buscador form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.buscador select {
  background: #d6eac6;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 8px 10px;
  color: #234d36;
  outline: none;
  transition: box-shadow 0.2s;
  margin:0 1rem 0 3rem;
}

.buscador select:focus {
  box-shadow: 0 0 0 2px #5a9b7c33;
}

.buscador input[type="text"] {
  flex: 1;
  background: #d6eac6;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  padding: 8px 10px;
  color: #234d36;
  outline: none;
  transition: box-shadow 0.2s;
}

.buscador input[type="text"]:focus {
  box-shadow: 0 0 0 2px #5a9b7c33;
}

.buscador-btn {
  background: #295c3b;
  color: #d6eac6;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 20px;
  cursor: pointer;
  transition: background 0.18s, color 0.18s;
  display: flex;
  align-items: center;
}

.buscador-btn:hover,
.buscador-btn:focus {
  background: #163d25;
}

.buscador-btn:focus {
  outline: none;
}

@media (max-width: 500px) {
  .buscador > .flex {
    width: 98vw;
  }

  .buscador-btn {
    font-size: 1.1rem;
    padding: 0 14px;
    height: 40px;
  }

  .buscador input[type="text"],
  .buscador select {
    font-size: 1.1rem;
    padding: 10px;
  }
}
